@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/assets/pics/bg.png);
    background-repeat: no-repeat;
}


.text-box {
    position: absolute;
    top: 40%;
    width: 80%;
    margin: 0 10% 0 10%;
    align-items: justify;
    justify-content: space-between;
}

.img{
    float: right;
    opacity: 65%;
}


.text-box{
    position: absolute;
    top: 40%;
    width: 80%;
    margin: 0 0 0 -25%;
    align-items: justify center;
    justify-content: space-between;   
}

.text-box img {
    float: right;
}

.text-box h1{
    margin-top: -15px;
    font-size: 60px;
    margin-left: 40%;
    font-weight: 650;
    transition: 0.9s;
    color:#A6E3E9;
    font-family: 'Poppins', sans-serif;
    
}

.text-box h1:hover{
    font-size: 62px;
    cursor: pointer;
    color: #FFF;
    font-weight: 700;
}

.text-box h1:hover:nth-child(1){
    margin-right: 10px;
    font-size: 65px;
}

.text-box h1:hover:nth-child(2) {
    margin-right: 10px;
    font-size: 65px;
}


.text-box p{
    margin-top: 20px;
    margin-left: 40%;
    font-family: "poppins", sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #FFF;
    transition: 0.3s;
}

.text-box p:hover{
    font-size: 25px;
    font-weight: 350;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    color: #edf0f1;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
}

h1{
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    font-size: 20px;
    color: #edf0f1;
    margin-right: auto;
}


.nav__Links{
    list-style: none;
}

.nav__Links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__Links li a {

    transition: all 0.8 ease 0;
}

.nav__Links li a:hover {

    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(91,136,169, 1);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.8s ease 0;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

.nav{
    border-bottom:2px solid #505257 ;
    height:80px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius:75px;
}

.img-right {
    width: 50%;
    height: 70%;
    position: absolute;
    bottom: 0;
    right: -200px;
}


.img-right img{
    opacity: 70%;
    transition: 0.7s;
    width: 400px;
    height: 375px;
}

.img-right img:hover {
    width: 450px;
    height: 70%;
    margin-top: 10px;
    }

.img-right img:hover:nth-child(1){
    opacity: 80%;
    height: 80%;
    margin-top: 15px;
}

.img-right img:hover:nth-child(2) {
    opacity: 85%;
    margin-top: 20px;
}

.img-right img:hover:nth-child(3) {
    opacity: 90%;
    margin-top: 25px;
}

.img-right img:hover:nth-child(4) {
    opacity: 100%;
    margin-top: 30px;
}


